*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    width: 100vmax;
    height: 100vmax;
    padding: 0;
    margin: 0;
    background-color: #222222;

}

.centered-wrapper {
    position: relative;
    text-align: center;
    height: 100vh;
}

.centered-wrapper:before {
    content:"";
    position: relative;
    display: inline-block;
    width: 0;
    height: 100vmin;
    vertical-align: middle;
}

.centered-content {
    display: inline-block;
    vertical-align: middle;
    /* border: 1px solid black; */
    margin: 5vmin;
}

.game {
    min-width: 600px;
    min-height: 600px;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.7fr 0.7fr 0.5fr 1.5fr 1.5fr;
    grid-gap: 2px;
    grid-template-areas:
        "title title title"
        "message message message"
        "buttons1 buttons2 buttons3"
        "drinks drinks drinks "
        "cards cards cards";
}

.glow {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Monoton', cursive;
    font-size: 50px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
      
    @-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

div > #instructions {
    display: flex;
    grid-area: message;
    align-items: center;
    justify-content: space-around;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 3vmin;
}

#d-score, #c-score {
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    font-weight: 800;
}

#d-score > h2, #c-score > h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather Sans', sans-serif;
    color: white;
    font-weight: 800;
}

#d-score > img {
    height: 20vmin;
    background-repeat: no-repeat;
    background-size: contain;

}

#same, #higher, #lower {
    text-align: center;
    font-size: 100%;  
    background-color: #e60073;
    border-radius: 4px;
    font-family: 'Arimo', sans-serif;
    width: 75%;
    justify-self: center;
    margin: 2%;
    color: white;
    font-weight: 700;
    letter-spacing: 2px;
}

#same {
    grid-area: buttons2;

}

#higher {
    grid-area: buttons1;

}

#lower {
    grid-area: buttons3;
}

#beverages {
    grid-area: drinks;
    display: grid;
    width: 80%;
    justify-self: center;
    
    grid-template-columns: repeat(5, 1fr);

}

#playing-deck {
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

[id*="ink"], [id^="card"] {
    display: flex;
    justify-content: center;
    align-items: center;  
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 1px solid grey;
}
